<form>
    <div class="form-group required">
        <label>Username</label>
        <input class="form-control" >
        <label class="text-danger">Este campo é obrigatório.</label>
    </div>
    <div formGroupName="Passwords">
        <div class="form-group required">
            <label>Password</label>
            <input type="password" class="form-control" >
            <label class="text-danger">Este campo é obrigatório.</label>
            <label class="text-danger">São necessários 4 caracteres no mínimo.</label>
        </div>
        <div class="form-group required">
          <label>Confirme o Password</label>
          <input type="password" class="form-control" >
          <label class="text-danger">Este campo é obrigatório.</label>
          <label class="text-danger">Confirmar que o Password não corresponde.</label>
        </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8 offset-md-2">
        <button type="submit" class="btn btn-lg btn-block" >Registro</button>
      </div>
    </div>
</form>
